includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 5
	phpVersion: 80100
	paths:
		- index.php
		- tny-singnature.php
		- uninstall.php
		- lib
	bootstrapFiles:
		- tests/phpstan/bootstrap.php
	dynamicConstantNames:
		TNYSIGNATURE_URL: string
		SIGNATURE_URL: string
	reportUnmatchedIgnoredErrors: true

