/**
 * Public styles for Tny Signature plugin
 *
 * @since 0.0.2
 * @author bnjmnrsh
 * @package TNY_SIGNATURE
 */

p.signature.farewell {
  padding-top: 10px;
  font-style: italic;
}

div.signature.image-replace {
  background-repeat: no-repeat;
  position: relative;
  max-width: inherit;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
}

.post-content-inside p.signature.author {
  margin: 0;
}
